{% extends "tool/base_tool.html" %} {% load static %}

<link href="{% static 'tool/css/layui.css' %}?v=20180107.08" rel="stylesheet"> {% block head_title %}百度地图POI边界坐标数据采集{% endblock %} {% block metas %}
<meta name="description" content="调用百度地图API接口实现的POI边界坐标数据采集工具">
<meta name="keywords" content="POI边界数据采集,在线工具,百度POI边界,百度POI数据,POI边界,POI在线工具"> {% endblock %} {% block tool_name %}百度地图POI边界坐标数据采集{% endblock %} {% block left_content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
<link href="../../static/tool/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
<link href="../../static/tool/themes/explorer-fas/theme.css" media="all" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="../../static/tool/js/plugins/piexif.js" type="text/javascript"></script>
<script src="../../static/tool/js/plugins/sortable.js" type="text/javascript"></script>
<script src="../../static/tool/js/fileinput.js" type="text/javascript"></script>
<script src="../../static/tool/js/locales/fr.js" type="text/javascript"></script>
<script src="../../static/tool/js/locales/es.js" type="text/javascript"></script>
<script src="../../static/tool/themes/fas/theme.js" type="text/javascript"></script>
<script src="../../static/tool/themes/explorer-fas/theme.js" type="text/javascript"></script>
<style type="text/css">
a {color: black}
</style>
<div class="card-body p-0">
	<h3 class="card-title pl-2 title-info">工具说明：</h3>
	<ul>
		<li>需要申请百度地图开发者密钥</li>
		<li>需要上传带有UID的百度POI数据文件，示例文件：<a style="color:#33ABA0" href="{% url "tool:common_file_download" %}">点击下载</a>。下载后将需要采集边界坐标的POI UID粘贴到模板文件uid列下，并在下方上传(单次上传数据量不要过大)</li>
		<li>相关文档说明，请参见<a style="color:#33ABA0" href="/article/boundary/">这里</a></li>
	</ul>
</div>

{% if message %}
	<div class="alert alert-danger" role="alert">{{ message }}</div>

	{% endif %}
<form id="boundaryform" action="{% url "tool:boundarydata" %}" method="post">
	<input style="display: none;" id="file_path" name="file_path"/>
	<label>百度地图密钥：</label>
	        <input type="text" id="bmapkey" class="form-control " name="bmapkey"
	               placeholder="例如：FGFR45FH343D35"
	               required>
	        <small class="form-text text-muted">注：服务器端密钥，百度地图API开放平台申请</small>
	    </div>
<form style="margin-left: 100px;" enctype="multipart/form-data">
	<div class="form-group">
	        
	<!-- 就是一个简单的文件表单字段 -->
	<label class="control-label" for="testfile">上传文件</label>
	<input type="file" id="testfile" name="myfile" multiple /> {% csrf_token %}
</form>





<br />
<button id="getboundary" type="button" class="btn btn-info btn-sm rounded-0">确定</button>
</form>
<script>
	var token = "{{csrf_token}}";

	$('#testfile').fileinput({
		language: 'zh',
		uploadUrl:  "{% url "tool:common_file_upload" %}",
		showCaption: true,
		showUpload: true,
		showRemove: true,
		showClose: true,
		uploadAsync : true,
		layoutTemplates: {
			actionDelete: ''
		},
		browseClass: 'btn btn-primary',
	uploadExtraData: {
		"csrfmiddlewaretoken" : token
	}
	}).on('fileuploaded', function(e, params){
		if(params.response.status == "200") {
			var file_path = params.response.file_path;
			$("#file_path").val(file_path);

		}else {
			alert("文件上传失败");
		}

		
	});
	
	
	$("#getboundary").on('click', function(){
		var file_path = $("#file_path").val();
		var bmapkey = $("#bmapkey").val();
		if(file_path == "") {
			alert("请上传后再操作");
			return;
		}
		if(bmapkey == "") {
			alert("请输入百度密钥再操作");
			return;
		}
		/*$.ajax({
			type:"post",
			url:"{% url "tool:boundarydata" %}",
			async:true,
			data:{
				"csrfmiddlewaretoken" : token,
				"file_path": file_path,
				"bmapkey": bmapkey
			},
			success:function(){
				alert("OK")
			}
		});*/
		
		$("#boundaryform").submit();
	})
</script>

{% endblock %} {% block end_f %} {% endblock %}